.video-player {
  display: block;
  width: 500px;
}

.room-name-title {
  font-size: 30px;
}

@media (max-width: 572px) {
  .video-player {
    width: 250px;
  }
}

@media (min-width: 576px) {
  .video-player {
    width: 300px !important;
  }
}

@media (min-width: 576px) {
  .w-sm-auto {
    width: auto !important;
  }
}

@media (max-width: 767px) {
  .room-name-title {
    padding-top: 80px;
  }
}
